<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZvHwvm3NUAjCJcsENQYwi-20C-Moxg6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>237384106925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fixem</string>
	<key>PROJECT_ID</key>
	<string>fix-em-6b9bd</string>
	<key>STORAGE_BUCKET</key>
	<string>fix-em-6b9bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237384106925:ios:5f9f401f5b5757097b9724</string>
</dict>
</plist>